* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-height: 95vh;

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/backGround.webp");
}

h1 {
    margin-block: 5rem;
    font-size: 60px;
    font-style: oblique;

    color: mistyrose;
}

.main-container {

    display: flex;
    flex-direction: column;

    min-width: 50vw;
    min-height: 50vh;

    margin: 3rem;
}

table {
    position: relative;

    min-width: 50vw;
    gap: 1rem;

    text-align: center;
    border-collapse: collapse;
    border: 2px gray solid;

    background-color: antiquewhite;

}


th,
td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;

}

thead {
    background-color: rgb(190, 190, 190);
}

.filter-btn {
    display: flex;
    flex-shrink: 0;

    align-items: row;

    width: 100%;
    height: 2rem;



    border: 1px gray solid;

}

.filter-btn input {
    width: 20rem;
    flex-grow: 1;
    margin-inline-end: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;

    min-width: 50vw;
    gap: 1rem;

    border: 1px black solid;
    background-color: antiquewhite;
}

.card-container img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    align-items: center;

    padding: 1rem;

    margin-block: 1rem;
    margin-inline: 1rem;


    border-radius: 20%;
    border: 1px black solid;
    background-color: whitesmoke;

}


.hidden {
    display: none;
}

.modal {
    position: relative;

    max-width: 50vw;
    max-height: 50vh;

    background-color: whitesmoke;
}

.modal form {
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.modal h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;

    color: black;
}

.modal button.close {
    position: absolute;

    width: 30px;
    height: 30px;

    top: 20px;
    right: 20px;

    border-radius: 18%;

    background-color: rgb(194, 194, 194);
}

.success {
    position: absolute;
    top: 150px;
    padding: 1rem;

    margin-block-start: 3rem;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;

    border-radius: 8px;
    border: 1px black solid;

    background-color: bisque;
}

img {
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;

    gap: 1rem;
    padding: 5px;
    margin-top: auto;


    border: 1px black solid;
    background-color: rgb(202, 202, 202);

    font-size: 15px;

}

footer span {
    margin-right: 1rem;
}


.add-book.modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    width: 20px;
    height: 20px;

    top: 10px;
    right: 10px;

    border-radius: 18%;
    background-color: rgb(194, 194, 194);
}

.rating-div {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 10px;
    margin-block-start: 1rem;
    width: 100%;
}


.rating-div button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;



    font-size: 18px;
    color: white;
    font-weight: bold;

    background-color: #50bfff;
    border: 2px solid #50bfff;
    border-radius: 10px;

    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.rating-div button:hover {
    background-color: #3a9fd9;
}

.rating-div .show-rating {
    width: 50px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.sort-field {
    height: 100%;
}