* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    justify-content: center;

    min-height: 95vh
}

.main-container {

    display: flex;
    flex-direction: column;

    min-width: 50vw;
    min-height: 50vh;

    margin: 3rem;
}

table {
    /* table-layout: fixed; */
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    gap: 1rem;
    min-width: 50vw;
    text-align: center;

    border-collapse: collapse;
    border: 2px black solid;

}


th,
td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;

}

thead {
    background-color: rgb(190, 190, 190);
}
.filter-btn{
}
.filter-btn input{
 margin-inline-end: 2rem;
}


.noticeNoBooks {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    width: inherit;
    height: 50%;

    margin: 0;

    border: 1px black solid;

}

.hidden {
    display: none;
}

.modal {
    position: relative;

    max-width: 50vw;
    max-height: 50vh;

    background-color: antiquewhite;
}

.modal button {
    position: absolute;


    bottom: 10px;
    right: 10px;
}

.success {
    position: center;

    padding: 1rem;
    border: 1px black solid;

    background-color: bisque;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

img {
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;

    gap: 1rem;
    padding: 5px;
    margin-top: auto;


    border: 1px black solid;
    background-color: rgb(202, 202, 202);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;

}

footer span {
    margin-right: 1rem;
}

